{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/form.css' %}" rel="stylesheet"/>
    <!-- SweetAlert2 CSS -->
    <link href="{% static 'css/sweetalert2.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'js/sweetalert2.js' %}"></script>
</head>
<body>
<div class="container">
    <h2>添加班级信息</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}  <!--遍历表单里的每一个字段对象（CharField、DateField…），每次循环拿到一个 BoundField 实例，叫 field。 -->
        <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
        </div>
        {% endfor %}
        <button class="but" type="submit">提交</button>
        <button type="button" class="cancelButton" onclick="window.parent.Swal.close();">取消</button>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded',function () {
    const form=document.querySelector('form');
    const url="{% url 'grade_create' %}";

    form.addEventListener('submit',function(e){
        e.preventDefault();

        let formData=new FormData(form)
        fetch(url,{
            method:'POST',
            body:formData,
            headers:{
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
            }
        }).then(response => response.json())
        .then(data=> {
        if (data.status === 'success') {
          Swal.fire({
            icon: 'success',
            title: data.messages,
            text: '数据已成功提交'
          }).then((result) => {
            if (result.isConfirmed) {
              // 刷新父页面
              window.parent.location.reload()
            }
          })
        } else {
            // 解析嵌套的 JSON 字符串
            const errors = JSON.parse(data.messages);
            // 构造错误信息的文本
            let errorMessage = '';
            for (const field in errors) {
                if (errors.hasOwnProperty(field)) {
                    errors[field].forEach(error => {
                        errorMessage += `<li style="color:red;text-align:left;margin-left: 100px;"> ${error.message} </li>`;
                    });
                }
            }
            // 使用 SweetAlert2 显示错误信息
            Swal.fire({
                icon: 'error',
                title: '提交错误',
                html: errorMessage,
                confirmButtonText: '关闭'
            });
        }

      }).catch(error => {
        Swal.fire({
          icon: 'error',
          title: '网络请求失败',
          text: '无法连接到服务器，请稍后再试',
          confirmButtonText: '关闭'
        })
      })
    })
})

</script>
</body>
</html>